@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #888;
}

::-webkit-scrollbar-thumb {
  background: #22c55e;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #15803d;
}
